{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
        </a>

        <article class="error404 article">
            <div class="content">
                <h1>404 Page Not Found</h1>
                <p></p>
                <p>What a cutie, but this is not what you were looking for. Return to the<a href="{{ "/" | relLangURL}}"> homepage</a>.</p>
                <img src="404-cutie.jpg">
            </div>
        </article>
    </div>
</div>
{{ end }}
